.input {
  font-family: var(--font-publicSans);
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  font-size: 16px;
  line-height: 1.5;
  &::placeholder {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9ca3af;
  }
  &:focus {
    outline: none;
  }
}

.textArea {
  font-family: var(--font-publicSans);
  padding: 12px;
  min-height: 136px;
  max-height: 136px;
  margin-top: 0.75rem;
  border: 2px solid #999999;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  border-radius: 0.5rem;
  resize: none;
  &:focus {
    outline: none;
  }
  font-family: inherit;
}
